.Palette-footer {
	background: white;
	height: 5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
}
.emoji {
	font-size: 2rem;
	margin: 1rem;
}

/* PaletteFooter: {
        background: 'white',
        height: '5vh',
        display: 'flex',
        justifyContent: 'flex-end',
        alignItems: 'center',
        fontWeight: 'bold',
    },
    emoji: {
        fontSize: '2rem',
        margin: '1rem',
    } */
